:root {
	--main-font: "StroyMono", sans-serif;
	--color-black: #1a1a1a;
	--color-white: #fdfbf7;
	--container-padding: 2.5rem;
	--side-content-size: 4.5rem;
	--small-font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
	--base-font-size: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
	--border-weight: 1px;
	--header-height: var(--side-content-size);
}

body {
	font-family: var(--main-font);
	font-weight: 300;
	font-size: var(--base-font-size);
	color: var(--color-black);
	background-color: var(--color-white);
	-webkit-font-smoothing: antialiased; /* Pour Safari et Chrome */
	-moz-osx-font-smoothing: grayscale; /* Pour Firefox sur macOS */
	text-rendering: optimizeLegibility;
	overflow: hidden;
}

/* Container style */
.container-inline-padding {
	padding-inline: var(--container-padding);
}

.container-block-padding {
	padding-block: var(--container-padding);
}

.container-padding {
	padding: var(--container-padding);
}

/* Font style */
.text-sm {
	font-size: var(--small-font-size);
}

.text-base {
	font-size: var(--base-font-size);
}

.interactive-btn-font {
	font-size: clamp(1.25rem, 0.2857rem + 1.4286vw, 2rem);
	font-family: "ExatWide";
	font-weight: 700;
	padding: 0.8rem;
}

.uppercase {
	text-transform: uppercase;
}

::-moz-selection {
	/* Code for Firefox */
	color: var(--color-white);
	background: rgba(0, 0, 0, 0.7);
}

::selection {
	color: var(--color-white);
	background: rgba(0, 0, 0, 0.7);
}

.page {
	height: calc(100svh - (var(--header-height) - var(--border-weight)));
	position: relative;
	top: calc(var(--border-weight) * -1);
	background-color: var(--color-white);
}
