@font-face {
	font-family: "ExatWide";
	src:
		url("/fonts/ExatWide-ExtraBold.woff2") format("woff2"),
		url("/fonts/ExatWide-ExtraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "ExatWide";
	src:
		url("/fonts/ExatWide-Bold.woff2") format("woff2"),
		url("/fonts/ExatWide-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "StroyMono";
	src:
		url("/fonts/StroyMonoTEST-Light.woff2") format("woff2"),
		url("/fonts/StroyMonoTEST-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "StroyMono";
	src:
		url("/fonts/StroyMonoTEST-LightItalic.woff2") format("woff2"),
		url("/fonts/StroyMonoTEST-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
